<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book Collection</title>
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/base.css">
  <link rel="stylesheet" href="styles/layout.css">
  <link rel="stylesheet" href="styles/modules.css">
  <link rel="stylesheet" href="styles/icons.css">
</head>
<body>
  <header>
    <h1>Best Books!</h1>
    <button id="searchbutton" onclick="window.location.href = './searches/new';">Search Books!</button>
  </header>
  <main>
    <div class="bookimage">
      <img src="https://i.imgur.com/J5LVHEL.jpg" alt="image of a book">
    </div>
    <div>
      <h3 class="title">Book Title</h3>
      <h4 class="author"></h4>
    </div>
    <div class="bookdescription">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quia quaerat quas, quo deserunt aut amet inventore atque voluptatibus doloremque laborum voluptatum et corrupti cum odio nesciunt asperiores harum qui, modi illo. Accusantium deserunt sit voluptates architecto iusto quasi ipsum recusandae est inventore quam. Explicabo vel alias magnam molestiae. Quis officia corrupti nulla soluta quo sunt velit fugiat, neque beatae ducimus. Dolore quaerat error fugit harum labore sunt inventore ipsum, ratione odit corporis fugiat quibusdam, cum commodi magni, a consequuntur. Vero provident, ipsa nulla dolor dolorum numquam, vel at nemo dolorem eum nihil cum aperiam cumque est? Necessitatibus, repellendus et.
    </div>
    <div>
      <h4>isbn here</h4>
      <h4>bookshelf here</h4>
    </div>

  </main>
  <footer>
    copyright @codefellows
  </footer>
</body>
</html>